body
{
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: cover;

}

.name
{
    justify-content: center;
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile
{
    border-radius: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 
  
}

.sections
{
    display: flex; /* or inline-flex */
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 70px;
    


}
.box
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 3px solid #aaa;
    background-color: #eee;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 10px;


}
.about
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 20px;
    color: thistle;
}
.about_me
{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}